<!doctype html>
<html ng-app="test">
    <head>
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angularjs.1.6.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/controller.js")" type="text/javascript"></script>
    </head>
    <body>
        <div ng-controller="testController">
            <div ng-repeat="button in modes">
                <label>
                    <input type="radio" ng-model="data.mode" value="{{button.value}}" name="modes" />
                    {{button.label}}
                </label>
            </div>
            <div ng-include="setFile()"></div>

            <div ng-repeat="item in data">
                <h1>{{item.name}}</h1>
                <h2>{{item.ean}}</h2>
                <button ng-click="delete(item.id)">delete</button>
            </div>
        </div>
    </body>
</html>